<div class="choices">
  {{!-- {{#each this}} --}}
    <div class="card">
        {{!-- <h3 class="card-header"></h3> --}}
        <section class="choice card-body">
            {{!-- <div class="text">
                {{choices_text}}
            </div> --}}

            <select class="form-select text-center" multiple aria-label="multiple select example">
                <option>{{choices_text}}</option>
                <option>{{choices_text}}</option>
            </select>

            {{!-- <div class="meta">
                -{{user.username}}
                , {{format_date created_at}}
            </div> --}}
        </section>
    </div>
  {{!-- {{/each}} --}}
</div>